---
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}Homepage{% endif %}"
layout: layouts/base.njk
permalink: /{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
eleventyNavigation:
  key: Home
  weight: 0
---

<div class="container">
  <div class="hero">
    <h1>
      {% if site.hero.title %}
        {% if pagination.pageNumber != 0 %}Page {{ pagination.pageNumber + 1 }} | {% endif %}
        Hello <span><img class="hello" src="{{'/static/img/waving-hand.png' | url}}"> </span>
      {% else %}
        {{ site.meta.title }}
      {% endif %}
    </h1>

    {#
    <p class="hero__description">
      {% if site.hero.description %}
        {{ site.hero.description }}
      {% else %}
        {{ site.meta.description }}
      {% endif %}
    </p>
    #}

    <p class="hero__description">
      I'm <a class="text-p-color" style="font-weight: 500;">Edwin Lim</a> and this is my portfolio of technical writing.
    </p>


    <div class="spacer-1"></div>
    
    <p class="hero__otherinfo">
      I built this site with the following tech stack: 
    </p>
      
    <div class="hero__techstack">
      <div class="hero__techstack_col">
        <a>Node.js</a> for development.
        <br><a>Eleventy</a> for static site generation.
        <br><a>Git</a> for version control.
      </div>
      <div class="hero__techstack_col">      
        <a>Markdown</a> and <a>HTML</a> for text.
        <br><a>Nunjucks</a> for templating.             
        <br><a>Stylus</a> for CSS.
      </div>
      <div class="hero__techstack_col">
        <a>YAML</a> and <a>JSON</a> for configuration.
        <br><a>Github Actions</a> for deployment.
        <br><a>Github Pages</a> for hosting.
      </div>
    </div>

  </div>


  <div class="spacer-3"></div>


  <h2 class="section-title">
    Writing Samples
  </h2> 
  
  {% include "components/postslist.njk" %}

</div>
