.hero
  margin 2rem 0

  &__description
    max-width 100ch
    font-size 1.2rem

  &__otherinfo
    max-width 100ch
    margin-top 1.5rem
    @media screen and (max-width breakpoints.xsm)
      display none

  &__techstack
    display flex
    margin-top 1rem
    @media screen and (max-width breakpoints.xsm)
      display none
    

  &__techstack_col
    margin-right 4rem

  &__techstack_col a
    font-weight 300

  img.hello
    height 2.5rem
    width auto
    @media screen and (max-width breakpoints.md)
      height 2rem
      width auto