.hero
  margin 2rem 0

  &__description
    max-width 100ch
    font-size 1.2rem

  &__otherinfo
    max-width 100ch
    margin-top 1.5rem

  &__techstack
    display flex
    margin-top 1rem

  &__techstack_col
    margin-right 4rem

  &__techstack_col a
    font-weight 300