.hero
  margin 3rem 0 2.5rem 0

  &__description
    max-width 100ch

  &__otherinfo
    max-width 100ch
    margin-top 1.5rem

  &__techstack
    display flex
    margin-top 1rem

  &__techstack_col
    margin-right 4rem

  &__techstack_col span 
    color primary_color
    font-weight 300