.post

  h2 
    border-bottom 2px dashed grey
    margin-top 4rem
    margin-bottom 1.5rem
    width: 65%



.stytch-container
  display flex
  overflow auto

  .stytch-instruction
    font-size 1.4rem
    vertical-align middle
    padding 100px 0

  #stytch-magic-link
    padding 15px
    margin-left 200px
    transition all 0.50s ease 
    box-shadow rgb(136 136 136) 5px 5px 8px

    &.sticky
      position absolute
      width auto
      margin-left 0px

  .stytch-block
    width 50%