body {
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body.dark {
  color: #fff;
  background-color: #333;
}
img {
  width: 100%;
  height: auto;
}
table {
  border-spacing: 0;
}
table th {
  background-color: rgba(211,211,211,0.369);
  text-align: left;
  border: 1px solid;
  padding: 5px 10px;
  text-align: center;
}
table td {
  border: 1px solid;
  border-spacing: 0;
  padding: 5px 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.75rem 0;
  font-weight: 400;
}
h1 {
  font-size: 2.027rem;
}
@media screen and (min-width: 641px) {
  h1 {
    font-size: 2.986rem;
  }
}
h2 {
  font-size: 1.802rem;
}
@media screen and (min-width: 641px) {
  h2 {
    font-size: 2.488rem;
  }
}
h3 {
  font-size: 1.602rem;
}
@media screen and (min-width: 641px) {
  h3 {
    font-size: 2.074rem;
  }
}
h4 {
  font-size: 1.424rem;
}
@media screen and (min-width: 641px) {
  h4 {
    font-size: 1.728rem;
  }
}
h5 {
  font-size: 1.266rem;
}
@media screen and (min-width: 641px) {
  h5 {
    font-size: 1.44rem;
  }
}
h6 {
  font-size: 1.125rem;
}
@media screen and (min-width: 641px) {
  h6 {
    font-size: 1.2rem;
  }
}
small {
  font-size: 0.889rem;
}
@media screen and (min-width: 641px) {
  small {
    font-size: 0.833rem;
  }
}
a {
  color: #7300e6;
  text-decoration: none;
}
body.dark a {
  color: #c9f;
}
a:hover {
  text-decoration: underline;
}
hr {
  border-color: rgba(0,0,0,0.1);
}
.text-p-color {
  color: #7300e6;
}
.container,
.container-sm,
.container-md {
  margin-left: 240px;
  padding: 1rem;
  padding-bottom: 2.5rem;
  max-width: 1025px;
  width: calc(100% - 2rem);
}
@media screen and (max-width: 641px) {
  .container,
  .container-sm,
  .container-md {
    margin: 0 auto;
    max-width: 631px;
  }
}
@media screen and (max-width: 391px) {
  .container,
  .container-sm,
  .container-md {
    margin: 0 auto;
    max-width: 381px;
  }
}
.container-sm {
  max-width: 641px;
}
.container-md {
  max-width: 769px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background: #f2f2f2;
}
body.dark .footer {
  background: #3d3d3d;
}
.hero {
  margin: 2rem 0;
}
.hero__description {
  max-width: 100ch;
  font-size: 1.2rem;
}
.hero__otherinfo {
  max-width: 100ch;
  margin-top: 1.5rem;
}
@media screen and (max-width: 391px) {
  .hero__otherinfo {
    display: none;
  }
}
.hero__techstack {
  display: flex;
  margin-top: 1rem;
}
@media screen and (max-width: 391px) {
  .hero__techstack {
    display: none;
  }
}
.hero__techstack_col {
  margin-right: 4rem;
}
.hero__techstack_col a {
  font-weight: 300;
}
.navbar {
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
}
body.dark .navbar {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.08);
}
.navbar__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1025px;
  margin-left: 240px;
}
@media screen and (max-width: 641px) {
  .navbar__inner {
    margin: 0 auto;
  }
}
.navbar__links {
  display: none;
}
@media screen and (min-width: 641px) {
  .navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
  }
}
.navbar__mobile-links {
  display: none;
}
.navbar__mobile-links--open {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
@media screen and (min-width: 641px) {
  .navbar__mobile-links {
    display: none;
  }
}
.navbar__mobile-link {
  padding: 1rem;
  border-radius: 0.25rem;
}
.navbar__mobile-link:hover {
  background-color: #f2f2f2;
}
body.dark .navbar__mobile-link:hover {
  background-color: #3d3d3d;
}
.navbar__mobile-options {
  display: flex;
  gap: 0.25rem;
}
@media screen and (min-width: 641px) {
  .navbar__mobile-options {
    display: none;
  }
}
.navbar__button {
  display: block;
  line-height: 0;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}
.navbar__button:hover {
  background-color: #f2f2f2;
}
body.dark .navbar__button:hover {
  background-color: #3d3d3d;
}
body.dark .navbar__hamburger > svg {
  fill: #fff;
}
.navbar__link {
  display: inline-block;
  padding: 0.75rem;
}
.navbar__logo {
  display: inline-block;
  border-radius: 0.25rem;
  font-weight: 400;
}
.post h2 {
  border-bottom: 2px dashed #808080;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  width: 65%;
}
.post img {
  border: 1px solid;
}
.section-title {
  font-size: 1.2rem;
  font-weight: 500;
}
body.dark .section-title {
  color: #ccc;
}
.card-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}
@media screen and (min-width: 1025px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media screen and (min-width: 641px) and (max-width: 1025px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
.card {
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2) , 0 2px 2px rgba(0,0,0,0.1) , 0 4px 4px rgba(0,0,0,0.1) , 0 6px 6px rgba(0,0,0,0.2);
  transition: all 0.5s ease;
  cursor: pointer;
}
.card.card:hover {
  transform: translate(1px, 3px);
/*
    box-shadow:
      0 0 0 1px rgba(115 0 230 0.20)\,
      0 2px 2px rgba(0 0 0 0.10)\,
      0 4px 4px rgba(0 0 0 0.10)\,
      0 6px 6px rgba(115 0 230 0.20)
    */
}
body.dark .card {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1) , 0 2px 2px rgba(255,255,255,0.1) , 0 4px 4px rgba(255,255,255,0.1) , 0 6px 6px rgba(255,255,255,0.2);
}
.card__title {
  font-size: 1.266rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
@media screen and (min-width: 641px) {
  .card__title {
    font-size: 1.44rem;
  }
}
.card__date {
  margin-top: 0;
  color: #5c5c5c;
  font-size: 0.889rem;
}
@media screen and (min-width: 641px) {
  .card__date {
    font-size: 0.833rem;
  }
}
body.dark .card__date {
  color: #ccc;
}
.card__description {
  margin: 0;
}
.card__subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.card__tags {
  margin-top: 20px;
  z-index: 1;
}
.card__tags a {
  border: 1px solid;
  border-radius: 3px;
  padding: 0px 4px;
  margin-right: 4px;
  font-size: 13px;
  background-color: rgba(115,0,230,0.015);
}
.divider {
  margin: 2rem 0;
  border-bottom: 1px solid #d3d3d3;
}
.spacer-1 {
  margin: 1rem 0;
}
.spacer-2 {
  margin: 2rem 0;
}
.spacer-3 {
  margin: 3rem 0;
}
.spacer-4 {
  margin: 4rem 0;
}
.pagination {
  display: flex;
  margin: 1rem 0;
}
.pagination > a {
  display: block;
}
.pagination__next {
  margin-left: auto;
}
.post_sidebar_nav {
  position: fixed;
  height: 100%;
  width: 225px;
  left: 0px;
  margin-top: 10px;
  padding: 1rem;
  font-size: 15px;
  transition: all 0.5s ease;
}
.post_sidebar_nav .post_sidebar_nav_link {
  margin: 0.25rem 0;
}
@media screen and (max-width: 641px) {
  .post_sidebar_nav {
    left: -225px;
  }
}
