<div class="card-grid">
  {% for post in posts %}

  {% if post.data.ignore %}

  {% else %}

    {% if post.data.externalLink %}
      <div class="card" onclick="location.href ='{{post.data.externalLink }}'">
    {% else %}
      <div class="card" onclick="location.href ='{{post.url | url}}'">
    {% endif %}

        <h3 class="card__title">
          <a>{{ post.data.title }}</a>
          <img class="emoji" src="{{ post.data.emojiPath | url}}">
        </h3>
        {#
        <p class="card__date">{{ post.date | readableDate }}
        #}
        </p>
        <span class="card__description">{{ post.data.description | safe }}</span>
        <p class="card__subtitle"></p>
  
      <div class="card__tags">
        {% for tag in post.data.tags %}

          {% if tag != 'post' %}
            <a class="tag" href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>

    </div>

  {% endif %}
  
  {% endfor %}
</div>
