.card-grid
  display grid
  grid-auto-rows auto
  grid-template-columns repeat(auto-fill, minmax(240px, 1fr))
  gap 1.5rem

  @media screen and (min-width breakpoints.lg)
    grid-template-columns repeat(auto-fill, minmax(320px, 1fr))

  @media screen and (min-width breakpoints.sm) and (max-width breakpoints.lg)
     grid-template-columns repeat(auto-fill, minmax(280px, 1fr))   


.card
  padding 1rem
  border-radius default_radius
  box-shadow:
    0 0 0 1px rgba(0 0 0 0.20)\,
    0 2px 2px rgba(0 0 0 0.10)\,
    0 4px 4px rgba(0 0 0 0.10)\,
    0 6px 6px rgba(0 0 0 0.20)
  transition all 0.5s ease
  cursor pointer


  &&:hover
    transform: translate(1px, 3px)
    /*
    box-shadow:
      0 0 0 1px rgba(115 0 230 0.20)\,
      0 2px 2px rgba(0 0 0 0.10)\,
      0 4px 4px rgba(0 0 0 0.10)\,
      0 6px 6px rgba(115 0 230 0.20)
    */

  
  body.dark &
    box-shadow:
      0 0 0 1px rgba(255 255 255 0.10)\,
      0 2px 2px rgba(255 255 255 0.10)\,
      0 4px 4px rgba(255 255 255 0.10)\,
      0 6px 6px rgba(255 255 255 0.20)


  &__title
    text_scale_size 2
    margin-top 0
    margin-bottom 0.1rem
  
  &__date
    margin-top 0
    color lighten(text_color, 20%)
    text_scale_size -1

    body.dark &
      color darken(text_color_dark, 20%)
  
  &__description
    margin 0

  &__subtitle
    margin-top 0.5rem
    margin-bottom 0.1rem
    font-weight 600
  
  &__tags
    margin-top 20px
    z-index 1
    a
      border 1px solid
      border-radius 3px
      padding 0px 4px
      margin-right: 4px
      font-size: 13px
      background-color rgba(115,0,230,0.015)
