img {
  width 100%
  height auto
}


img
  &.screenshot
    border 1px solid

  &.profile-pic
    height 175px
    width 175px
    border-radius 50%
    object-fit cover

  &.small-profile-pic
    height 35px
    width 35px
    border-radius 50%
    object-fit cover
