
table 
  border-spacing 0
  
  
  th 
    background-color #d3d3d35e
    text-align left
    border 1px solid 
    padding 5px 10px
    text-align center

  td
    border 1px solid
    border-spacing 0
    padding 5px 10px